body { padding-bottom: 20px }
#main { background: #fff; margin: auto; padding: 20px; max-width: 1200px }
#main h1 { padding:0; margin-top: 20px }
#main h2 { text-align: left }
#header { background-color: #eee; font-weight: normal; margin:0; padding:10px; border-bottom: 1px solid #ddd }
#logo { display: none }

table { margin: auto; border-collapse: separate; border-spacing: 20px }
td { vertical-align: top; text-align:center; width: 235px }
hr { margin-top: 20px; }

pre { text-align: left; overflow: visible }
code { background-color: #ffc }
pre code { background-color: #eee }


.pics img {
	-moz-border-radius: 0px; -webkit-border-radius: 0px;
}
